layout {

    focus-ring {
        active-color   "#00a8f4"
        inactive-color "#000000"
        urgent-color   "#b74e90"
    }

    border {
        active-color   "#00a8f4"
        inactive-color "#000000"
        urgent-color   "#b74e90"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#00a8f4"
        inactive-color "#00354c"
        urgent-color   "#b74e90"
    }

    insert-hint {
        color "#00a8f480"
    }
}

recent-windows {
    highlight {
        active-color "#00a8f4"
        urgent-color "#b74e90"
    }
}
